// @import "mobile";

$card-footer-background-color: rgba(241, 241, 241, 0.5);
$app-background-color: #f1f1f1;
$divider: #ebebeb;
$box-shadow-default: 0 2px 10px rgba(0, 0, 0, 0.15);
$font-color-primary: #b4b4b4;
$font-color-secondary: #737c84;
$lowTempColor: #69a3ff;
$mediumTempColor: #ff9632;
$highTempColor: #ed1946;
$color-white: #fff;
$dangerColor: #ed1946;

body {
	background: $app-background-color;
	margin: 0;
	font-family: "Helvetica", "Arial", sans-serif;
	letter-spacing: 0.02em;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	min-height: 100%;
}

small {
	font-size: 12px;
}

ul {
	margin: 0px;
	padding: 0px;

	li {
		list-style: none;
	}
}

figure {
	margin: 0px;
	padding: 0px;
}

section {
	display: block;
}

main {
	height: 100%;
	min-height: 100%;
}
.principal {
	width: 100%;
	height: 100%;
}
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
}

.col {
	display: flex;
	justify-content: center;
	padding-right: 15px;
	flex: 1;
	padding-left: 15px;
	flex-direction: column;
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
	padding-right: 0px !important;
	padding-left: 0px !important;
}

header {
	background: #fff;
	display: flex;
	justify-content: center;
	padding: 1em;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.mobileChangeOrder {
	&:nth-child(1) {
		.extrasInfos {
			display: none;
		}
	}
	&:nth-child(3) {
		.extrasInfos {
			display: none;
		}
	}
	&:hover{
		.extrasInfos{
			display: flex;
		}
	}
}
#list-of-cities {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	height: 100%;
	min-height: 100%;

	.individual-block {
		display: block;
		background-color: $color-white;
		border-radius: 5px;
		box-shadow: $box-shadow-default;

		.extra-infos-temperature {
			padding: 0px;
			margin: 0px;
			background-color: rgba(241, 241, 241, 0.5);
			text-align: center;

			p {
				color: $font-color-primary;
				text-transform: uppercase;
				font-size: 14px;
				margin-bottom: 0px;
			}

			span {
				color: $font-color-secondary;
				font-size: 20px;
			}

			.updated {
				font-size: 10px;
				color: $font-color-secondary;
				padding: 20px 0;

				span {
					font-size: 10px;
				}
			}

			.extrasInfos {
				padding-top: 1em;
			}
		}

		.top-infos {
			border-bottom: 1px solid $divider;
			color: $font-color-secondary;
			text-align: center;
			padding: 13px 0px;
			font-size: 1.1rem;
		}

		.temperature {
			font-size: 5em;
			padding: 30px 0;
			margin: 0px;
			text-align: center;
			display: block;
			font-weight: 500;
			justify-content: center;
			display: flex;

			.high-temp {
				color: $highTempColor;
			}

			.low-temp {
				color: $lowTempColor;
			}

			.medium-temp {
				color: $mediumTempColor;
			}

			.danger {
				font-size: 16px;
				font-weight: 500;
				color: $dangerColor;
				flex-direction: column;
				align-items: center;
				display: flex;
				button {
					background: #fff;
					border: 2px solid $font-color-secondary;
					padding: 10px 20px;
					border-radius: 30px;
					display: flex;
					color: $font-color-secondary;
					margin-top: 20px;
					&:hover {
						cursor: pointer;
						background-color: $font-color-secondary;
						color: #fff;
					}
				}
			}

			.try-again-button {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: row;
				background: #fff;
				border: 2px solid $font-color-secondary;
				color: $font-color-secondary;
				border-radius: 30px;
				box-shadow: none;
				padding: 7px 15px;
			}
		}
	}
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

@media (max-width: 768px) {
	header {
		z-index: 1;
		box-shadow: $box-shadow-default;
	}

	main {
		padding-top: 5em;
		height: auto;
	}

	.col {
		flex: auto;
	}

	.no-gutters {
		flex: 1;
	}

	#list-of-cities {
		.individual-block {
			margin-bottom: 2em;
		}
	}
	.mobileChangeOrder {
		&:nth-child(1) {
			order: 2;
		}
		&:nth-child(2) {
			order: 1;
		}
		&:nth-child(3) {
			order: 3;
		}
	}
}

#__nuxt {
	height: 100%;
	min-height: 100%;
	#__layout {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		min-height: 100%;
	}
}
